<form method="dialog" id="form-add-note" data-action={{action}} data-id={{note._id}} data-finished={{note.isFinished}}>
  <label class="form-label" for="title">Title</label>
  <input class="form-input" type="text" name="title" id="title" placeholder="Enter your title" value="{{note.title}}">

  <label class="form-label" for="description">Description</label>
  <textarea lass="form-input" name="description" id="description" placeholder="Enter your description">{{note.description}}</textarea>

  <label class="form-label" for="importance">Importance</label>
  <div class="form-input">
    <input type="radio" name="importance" value="1" id='importance' {{precheck note 1}}>
    <input type="radio" name="importance" value="2" {{precheck note 2}}>
    <input type="radio" name="importance" value="3" {{precheck note 3}}>
    <input type="radio" name="importance" value="4" {{precheck note 4}}>
    <input type="radio" name="importance" value="5" {{precheck note 5}}>
  </div>
  <label class="form-label" for="duedate">Done until</label>
  <input lass="form-input" type="date" name="duedate" id="duedate" value="{{note.dueDate}}">
  <button class="form-submit" type="submit">Save</button>
  <button class=" form-cancel" type="button" data-action=close>Cancel</button>
</form>