<div class="noteList">
  {{#each notes}}
    <div class="note">
      <h4>{{title}}</h1>
      <p>{{description}} <br>
      dueDate {{dueDate}} <br>
      finishDate {{finishDate}} <br>
      creationDate {{creationDate}} <br>
      importance {{importance}}</p>
    </div>
  {{/each}}
</div>